<h1 class="title">Write a Review for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>

  <%= f.input :rating, in: 0..5, label: "Rating (0–5)" %>
  <%= f.input :content, label: "Your thoughts" %>

  <%= f.button :submit, "Submit Review" %>
  <%= link_to "⬅ Go back to the list", restaurants_path %>
<% end %>